.navspace {
    height: 4rem; /* Adjust as needed */
}

.submitpage {
    margin-top: 2rem;
    padding: 20px;
    font-family: Arial, sans-serif;
    background: 
    linear-gradient(
      rgba(255, 255, 255, 0.6), 
      rgba(255, 255, 255, 0.6)
    ), 
    url('/public/images/background.png'); 
    background-size: cover;
    background-position: center; 
    background-size: cover;  
    background-position: center; 
    text-align: center;
}

.submitcontainer {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}

.claim-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
}

input {
    width: 90%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

.submit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #0056b3;
}